* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
    display: inline-block;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */

.container {
    max-width: 1204px;

}

.container-small{
    max-width: 944px;
}

.container,
.container-small{
    margin: 0 auto;
    padding: 0 32px;
}


.col1{
    flex-basis: calc(100%/3*1);
}

.col2{
    flex-basis: calc(100%/3*2);
}

.col_full{
    flex-basis: 100%;
}


.row {
    display: flex;
    flex-wrap: wrap;  
}

.space-between {
    justify-content: space-between;
}

.center{
    text-align: center;
}



/* BUTTONS */

.button {
    font-size: 18px;
    line-height: 38px;
    border-radius: 50em;
    max-width: fit-content;
    padding: 0 16px;
}

.button--medium{
    line-height: 46px;
}

.button--medium a{
    padding: 0 36px;
    align-items: center;
}


.button--white {
    color: var(--dark);
    background-color: white;
}

.button--blue {
    color: white;
    background-color: var(--blue);
}


/*FONTS***************************************************************************************************/

h1 {
    font-size: 40px;
}

h4 {
    font-size: 18px;
}

/*HEADER***************************************************************************************************/

.main-header {
    background-color: var(--blue);
    padding: 19px 0px;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.small{
    margin: 0 -16px;
}

.hamburger {
    display: none;
}

/*MEDIAQUERY-HEADER***************************************************************************************************/

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }
}

/*HERO***************************************************************************************************/

.hero{
    padding: 52px 0px;
}

.hero h2{
    color: var(--blue);
    font-size: 26px;
}

.hero p{
    color: var(--dark);
    font-size: 18px;
}

.hero .card {
    background-color: var(--lightblue);
    border-radius: 20px;
    margin: 0 12px;
    min-height:fit-content;
    height: 100%;
}

.hero .row{
    margin: 0 -12px;
}

.gutter{
    row-gap: 24px;
}

.col_figure,
.col_article{
    flex-basis: 50%;
}

.hero figure img{
    max-width: 100%;
    text-align: center;
    margin-bottom: -24px;
    display:block;
}

.col{

    padding: 24px 36px;
}

.button.button--medium{
    margin-top: 36px;
}

.icon_big{
    font-size: 84px;
}

.icon_blue{
    color: var(--blue);
    padding: 12px;
}

.icon_space{
    padding-right: 16px;
}


/*MEDIAQUERY-HERO***************************************************************************************************/

@media only screen and (max-width: 991px) {

    .hero .card .row [class^="col"]{
        flex-basis: 100%;
    
    }

    .col_figure{
        flex-basis: 60%;
    }

    .col_article{
        flex-basis: 100%;
    }

}


@media only screen and (max-width: 575px) {
    .hero [class^="col"] {
        flex-basis: 100%;
    }

}


/*PLANNING***************************************************************************************************/

.planning{
    background-color: var(--purple);
    padding-top:110px ;
    padding-bottom:55px ;
}


.planning .col{
    flex-basis: 0;
    flex-grow: 1;
    padding: 0;
}

.planning .row{
    gap: 60px;
}

.card-planning{
    background-color: white;
    color: black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:32px 40px;
    align-items: center;
    text-align: center;
}

.card-planning p{
    font-size: 14px;
    line-height: 1.7em;
}

.card-planning img{
    width: 70%;
}

.planning .col-card{
    align-self: flex-end;
}

.planning .col__img{
    margin-bottom: 100px;
}

.planning .col__title{
    margin-bottom: 30px;
}

.planning .col{
    color: white;
}

/*MEDIAQUERY-PLANNING***************************************************************************************************/

@media screen and (max-width:991px){
    .planning .col{
        flex-basis: 100%;
    }

    .col__title{
        font-size:72px ;
    }
}

@media screen and (max-width:575px){

    .col__title{
        font-size:24px ;
    }

    .card-planning{
        padding: 16px 20px;
    }
}

/*PARTNER***************************************************************************************************/

.partner {
    padding-top:70px ;
    padding-bottom:110px ;
}

.p-head {
    text-align: center;
}

.p-head h3 {
    font-size: 18px;
    font-weight: 400;

    margin-bottom: 40px;
}

.p-head h1 {
    color: var(--purple);

    margin-bottom: 40px;
}

.p-head p {
    font-size: 18px;

    margin-bottom: 50px;
}

.partner .row {
    gap: 32px;
}

.card-partner {
    display: flex;
    justify-content: space-between;

    background-color: var(--purple);

    padding: 32px 70px 48px 16px;

    border-radius: 50px;
}

.card-partner img {
    border-radius: 999px;
    aspect-ratio: 1/1;
    object-fit: cover;

    width: 200px;
}

.cp-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    margin-left: 65px;

    color: white;
    font-size: 18px;
}

/*MQ-PARTNER***************************************************************************************************/

@media only screen and (max-width: 575px) {
    .card-partner {
        flex-direction: column;
        align-items: center;

        padding: 30px;

        text-align: center;
    }

    .cp-txt {
        margin: 0;
    }
}

/*BENEFITS***************************************************************************************************/

.benefits {
    background-color: var(--purple);

    padding: 70px 0;
}

.benefits .b-head {
    text-align: center;
    margin-bottom: 70px;

    color: white;

}

.benefits .row {
    justify-content: center;
    gap: 30px;
}

.card-benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    flex-basis: calc(100%/3 - 60px/3);

    background-color: white;

    padding: 50px 45px 30px 30px;
    border-radius: 30px;
}

.card-benefits h1 {
    color: var(--purple);
    font-size: 60px;
}

.card-benefits h4 {
    color: var(--purple);
}

.card-benefits p {
    font-size: 14px;
}

.card-benefits .button {
    background-color: var(--purple);
    color: white;
}

/*MQ-BENEFITS***************************************************************************************************/

@media screen and (max-width:991px){
    .card-benefits {
        flex-basis: calc(100%/2 - 60px/2);
    }
}

@media screen and (max-width:575px){
    .card-benefits {
        flex-basis: 100%;
    }

    .card-benefits h1 {
        font-size: 40px;
    }
}

/*ABOUT***************************************************************************************************/

.about {
    padding: 100px 0 150px;
}

.about .row {
    justify-content: space-between;
}

.about .about-txt {
    display: flex;
    flex-direction: column;
    gap: 80px;
    
    flex-basis: 75%;
}

.about-txt h1 {
    font-size: 70px;
    color: var(--purple);
}

.about-txt p {
    font-size: 18px;
    line-height: 36px;
}

.about .about-img {

    max-width: 250px;

    position: relative;
}

.about-img img {
    border-radius: 999px;
    aspect-ratio: 1/1;
    object-fit: cover;
    
    width: 250px;
}

.about-img span {
    color: var(--purple);
    font-size: 60px;

    position: absolute;
    top: 0;
    right: 0;
}

.about-img h4 {
    font-size: 30px;
    color: var(--purple);
}

.about-img .button {
    background-color: var(--purple);
    color: white;
    height: 34px;

    font-size: 14px;
}

/*FREE***************************************************************************************************/

.free {
    padding: 65px;

    background-color: var(--purple);
}

.card-free {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    color: white;

    text-align: center;
}

.card-free h3 {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.card-free h2 {
    font-size: 45px;
}

.card-free h1 {
    font-size: 70px;
    color: var(--yellow);
}

.card-free p {
    width: 450px;
}

.card-free .button {
    font-size: 18px;
    background-color: white;
    color: var(--purple);

    line-height: 80px;
    padding: 0 80px 0 80px;

    font-weight: bold;
}

.card-free .pp {
    text-decoration: underline;
}

/*FOOTER***************************************************************************************************/

footer {
    background-color: var(--dark);
    text-align: center;
}

.container-footer {
    width: 400px;
    margin: 0 auto;
}

footer p {
    color: white;
    padding: 40px 0;
    font-size: 14px;
}

footer a {
    color: var(--purple);
    text-decoration: underline;
}